<h1>You have updated your task</h1>

<h3>Here is your new updated task:</h3>

Title: <%= @todo.title %><br>
Note: <%= @todo.note %><br>
Date: <%= @todo.date %>

<br><br>
To go back to all todos: <a href = "/todos">Click here</a>